<!DOCTYPE html>
<html>
<head>
    <title>Partner Locations</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.min.css" integrity="sha512-WKj+Gxn8Jx1fX9h9jK/paqb7d+MezoLJifPXQ2+lR+uKj/AcZtCnZ9Jqlp+1YVqbq3yNwBUP7NHNWqOD8fzqbw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        #mapid { height: 400px; }
    </style>
</head>
<body>
    <h1>Partner Locations</h1>
    <div id="mapid"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.min.js" integrity="sha512-LLTGBjKZtB9ONJivuVqweE1jFpL7OJKPmqw0t2C+BHYZKj9zLZUVxgFqV/tmYKpI7VfmAtIlGwDtejIblGSw/Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>